{% extends 'base.html' %}

{% block content %}
<div class="artist-bio">
<div id="page">

<div style="position:relative;" class="artist-bio">
<div style="position:absolute;top:0;left:0;">
<a href="/artists"><img src="/static/images/moon12-blue-triangle.png" style="vertical-align:bottom;"></a>&nbsp;
<a href="/artists">all artists</a>
</div>
</div>

<div style="width:75%; margin:0 auto;">
  <div class="page-title">{{ dArtist.full_name }}</div><br>
  <div style="margin:0 auto;width:640px;">{{ dArtist.videos|safe }}</div>
</div>

</div>
</div>
{% endblock %}
