@charset "UTF-8";
html,
body{min-width:960px;}
html{
  /* background:#191919 url(../../images/splash/bg-page.gif) 50% 0; */
  height:100%
}
body {
  /* background:url(../images/canvas.jpg) no-repeat 50% 0; */
}

/* HEADER */
.header {
	width: 960px;
	height: 160px;	
	margin: 0 auto;
	border-color: #bbb;
	border-style: none none solid none;
	border-width: 0px 0px 2px 0px;	
}

.left-nav {
}

.right-nav {
	position: relative;
	height:100%;
	width:400px;
}

.right-nav-content {
	position: absolute;
	bottom: 15px;
	left: 0;
}

.link-nav {
	height: 100%;
	float: left;
	margin: 8px;
	text-align: bottom;
}

/* FOOTER */
.footer {
  width: 960px;
	margin: 30px auto 0 auto;
	text-align: center;
}

.copyright {
}

/* HOME */
.home {
  width: 960px;
	margin: 0 auto;
}

.home h3 {
	text-align: center;
}

.home-section {
  width:100%;
	border-color: #eee;
	border-style: solid;
	border-width: 1px 1px 1px 1px;	
	margin-top: 30px;
	
}

.home .exhibit-info {
	width:50%
}

.home .exhibit-image {
	width: 300px;
	height: 300px;
}

.home .artist-section {
	width:180px;
	float:left;
	margin-left:3px;
	padding-bottom:10px;
}

.home .artist-name {
	width:70px;
	text-align:center;
}

.home .artist-image {
  width: 70px;
  height: 70px;
}

.home .event-section {
}

.home .event-blurb {
	margin-right:10px;
	margin-left:10px;
	width: 240px;
}

.home .event-image {
	width: 220px;	
}

.home .gallery-image {
	height: 300px;
}

/* EXHIBITS */
.exhibit-current {
	text-align: center;
	margin: 15px 0px auto;	
}

.exhibit-image {
	height: 500px;
}

.exhibit-invite {
	border:1px solid #bbb;
}

/* ARTISTS */
.artists {
	margin-top: 30px;
}

.page-title {
	text-align:center;
	font-size:1.5em;
	font-weight:bold;
	width: 100%;
}

.artist {
	margin-bottom: 40px;
}

.artist-name {
	font-size:1.4em;
	height:30px;
}

.artist-left {
	width:180px;
	text-align: center;
}

.artist .artist-image {
	width:180px;
}

.artist-right {
	margin-left:30px;
	width: 750px;
}

.artist .extraneous-link {
	margin-top:5px;
	font-size:0.9em;
}

/* EVENTS */
.events {
	margin-top: 30px;
}

.event-image {
	max-width: 400px;
}

.event-blurb {
	width:500px;
	margin-left:25px;
}

/* ABOUT */
.about {
	text-align: center;
	margin: 15px 0px auto;	
}

/* COMMON */

.moon-red {
	color: #EF4135;	
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.verticalDivider {
   border-right:1px solid #ddd; 
   height:60px;
   width:1px;
} 

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}
