{% extends 'base.html' %}

{% block content %}
<div class="event-photos">
<div id="page">

<br>
<div style="text-align:center;">
	{{ dEvent.title }}
</div>
<br>

<div id="container" class="clearfixx" style="background-color:lightgray;">

  {% for dImage in dEvent.ldImages %}

    <div class="box photo col3">
      <a href="{{ dImage.image }}" title=""><img src="{{ dImage.slide }}" alt="" /></a>
    </div>

  {% endfor %}

</div> <!-- #container -->

<script src="/static/js/masonry.min.js"></script>
<script>
  window.onload = function() {
    var wall = new Masonry( document.getElementById('container') );
  };
</script>



</div>
</div>
{% endblock %}
