{% extends 'base.html' %}

{% block content %}
<div id="page">
<div class="about">
	<div class="gallery-description">
<h2 style="font-weight:normal;">夢12 - 築夢的話</h2><br>
<br>
小時候，夢想趕快長大；<br>
長大後，有些夢想遠去、有些夢想消失、還有些夢想剛剛開始…<br>
<br>
如果，一輩子有十萬個夢，這是第幾個?<br>
<br>
在這裡，<br>
觀看過去，凝視現在，眺望未來！<br>
<br>
夢12，<br>
與您一起築夢、織夢、圓夢！<br><br>
	</div>
	<br>
	<div class="gallery-open">
	<h2 style="font-weight:normal;">Open</h2><br>
	11:00-19:00，Sun-Sat (Everyday)
	<br><br><br>
	</div>
	<div>
		<img class="gallery-image" src="/static/images/gallery.jpg"/>
 	  <div class="clearfix"></div>
	</div>
	</a>
 	<div class="clearfix"></div>
</div>
</div>
{% endblock %}
