{% set c = context() %}

<div class="artist pull-left">
  <div class="artist-left pull-left">
    <a href="/artist/{{ c.sArtistId }}/gallery">
    <img class="artist-image" src="{{ c.dArtist.home_image_250 }}"/>
    </a>
    <div class="clearfix"></div>
  </div>

  <div class="artist-right pull-left">
    <div class="artist-name">{{ c.dArtist.full_name }}</div>
    <div class="statement-link">
      <a href="/artist/{{ c.sArtistId }}/statement">自述 Artist Statement</a>
    </div>
    <div class="bio-link">
      <a href="/artist/{{ c.sArtistId }}/chronology">年表 Chronology</a>
    </div>
    {% if c.dArtist.essays %}
    <div class="essays-link">
      <a href="/artist/{{ c.sArtistId }}/essays">評論 Essays</a>
    </div>
    {% endif %}
    {% if c.dArtist.videos %}
    <div class="videos-link">
      <a href="/artist/{{ c.sArtistId }}/videos">影片 Videos</a>
    </div>
    {% endif %}
    <div class="gallery-link">
      <a href="/artist/{{ c.sArtistId }}/gallery">作品 Artwork</a>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="clearfix"></div>
</div>
