{% set c = context() %}

<div class="artist pull-left">
	<div class="artist-left pull-left">
		<a href="/artist/{{ c.sArtistId }}/gallery">
		<img class="artist-image" src="{{ c.dArtist.home_image }}"/>
		</a>
	  <div class="clearfix"></div>  	
	</div>
	
	<div class="artist-right pull-left">
		<div class="artist-name">{{ c.dArtist.full_name }}</div>
		<div class="bio-link">
			<a href="/artist/{{ c.sArtistId }}/bio">view bio</a>
		</div>
		<div class="gallery-link">
			<a href="/artist/{{ c.sArtistId }}/gallery">view artwork</a>
		</div>
	  <div class="clearfix"></div>  	
	</div>
	
  <div class="clearfix"></div>  	
</div>
