{% set c = {} %}

<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.2//EN" "http://www.openmobilealliance.org/tech/DTD/xhtml-mobile12.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-tw" lang="zh-tw">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta property="og:title" content="夢12 美學空間" />
    <meta property="og:site_name" content="夢12 美學空間" />
    <meta property="og:description" content="夢12 美學空間"/>
    <meta property="viewport" content="width=device-width" />

		<link rel="stylesheet" href="/static/css/gallery/styles.css" type="text/css" />
		<link rel="stylesheet" href="/static/css/base.css" type="text/css">

    {% block libs %}
    {% endblock %}

    {% block templates %}
    {% endblock %}

    {% block head %}
    {% endblock %}
  </head>
  <body>
		{% include 'header_frag.html' %}

    {% block loader %}
    {% endblock %}

    {% block content %}
    {% endblock %}

		{% block body %}
		{% endblock %}

		{% include 'footer_frag.html' %}
  </body>
</html>
