{% set c = context() %}

<div class="event-section pull-left">
  <div class="pull-left" style="width:400px;">
  <a href="/event/{{ c.sEventId }}/photos">
    <img class="event-image rounded dropshadow" src="{% static c.dEvent.image %}"/>
    <div class="clearfix"></div>
  </a>
    <br><br>
  </div>
  <div class="event-blurb pull-right">
    {% if c.dEvent.future %}
      <div class="moon-red">{{ c.dEvent.dates }}</div>
    {% else %}
      <div>{{ c.dEvent.dates }}</div>
    {% endif %}
    <h2 style="font-weight:normal;">{{ c.dEvent.title }}</h2><br>
    <div>{{ c.dEvent.description }}</div>
    <br><div><a href="/event/{{ c.sEventId }}/photos">view photos</a></div>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
</div>
