{% extends 'base.html' %}

{% block content %}
<div class="exhibits">
<div id="page">

<div class="exhibit-current">
	<br><h2>Upcoming Exhibition</h2><br><br>
	<img class="exhibit-invite" src="/static/images/edm.jpg"/>
	
<!--
  <div class="exhibit-info">
  	<h2 style="font-weight:normal";>{{ dCurrentExhibit.title }}</h2><br>
  	<div>{{ dCurrentExhibit.subtitle }}</div>
  	<div>{{ dCurrentExhibit.dates }}</div><br>
  	<div>{{ dCurrentExhibit.description }}</div><br>  	
歡迎您蒞臨參觀<br><br>
	  <div class="clearfix"></div>
  </div>
	<a href="/artist/{{ sCurrentArtistId }}">
  <div>
  	<img class="exhibit-image" src="{{ dCurrentExhibit.image }}"/>
 	  <div class="clearfix"></div>
  </div>
	<div>
	{{ dCurrentArtist.full_name }}
	</div>
	</a>
-->
</div>

</div>
</div>
{% endblock %}
