{% extends 'base.html' %}

{% block content %}
<div class="exhibits">
<div id="page">

<div class="exhibit-current">
  <br><h2>Current Exhibition</h2><br><br>
  <img class="exhibit-invite" style="margin-bottom:10px;" width="800px" src="{% static "images/exhibits/20150101edm.jpg" %}" />
  <br>
  <a href="/artist/chen-ting-shi/gallery">陳庭詩</a>
  <a href="/artist/ho-kan/gallery">霍剛</a>
  <a href="/artist/zhuang-zhe/gallery">莊喆</a>
  <a href="/artist/cin-song/gallery">秦松</a>
  <a href="/artist/yang-chi-hung/gallery">楊識宏</a>
</div>

<br>
<br>
<br>

<div class="exhibit-past">

  <br><h2>Past Exhibitions</h2><br><br>

  <a href="/artist/ho-kan/gallery">霍剛</a>
  <br>
  展期：2014.11.1-2014.12.15<br>
  <a href="{% static "images/exhibits/20141101edm.jpg" %}">see information</a><br>

  <br><br>

  <a href="/artist/lin-ruby/gallery">林慧如</a>
  <a href="/artist/lin-wei-min/gallery">林偉民</a>
  <a href="/artist/lo-zhen/gallery">洛貞</a>
  <a href="/artist/hsu-ming-feng/gallery">徐明豐</a>
  <a href="/artist/hkun/gallery">郭洪坤</a>
  <a href="/artist/chen-cheng-tsai/gallery">陳正才</a>
  <a href="/artist/yang-chih-fu/gallery">楊智富</a>
  <a href="/artist/liu-yung-jen/gallery">劉永仁</a>
  <a href="/artist/tsai-shu-hui/gallery">蔡淑惠</a>
  <a href="/artist/yen-ye-cheng/gallery">顏貽成</a>
  <br>
  展期：2014.10.1-2014.10.28<br>
  <a href="{% static "images/exhibits/20141001edm.jpg" %}">see information</a><br>

  <br><br>

  <a href="/artist/zhao-guo-zong/gallery">趙國宗</a>
  <br>
  展期：2014.9.1-2014.9.28<br>
  <a href="{% static "images/exhibits/20140901edm.jpg" %}">see information</a><br>

  <br><br>

  <a href="/artist/wu-xue-rang/gallery">吳學讓</a>
  <a href="/artist/chin-hsien-lin/gallery">林欽賢</a>
  <a href="/artist/yi-shuan-wu/gallery">吳逸萱</a>
  <br>
  展期：2014.8.2-2014.8.25<br>
  <a href="{% static "images/exhibits/20140802edm.jpg" %}">see information</a><br>

  <br><br>

  <a href="/artist/cin-song/gallery">秦松</a>
  <a href="/artist/zhuang-zhe/gallery">莊喆</a>
  <a href="/artist/hung-yao/gallery">洪耀</a>
  <a href="/artist/liu-yung-jen/gallery">劉永仁</a>
  <br>
  展期：2014.6.18-2014.7.30<br>
  <a href="{% static "images/exhibits/20140618edm.jpg" %}">see information</a><br>

  <br><br>

  <a href="/artist/chen-ting-shi/gallery">陳庭詩</a>
  <a href="/artist/wu-hao/gallery">吳昊</a>
  <a href="/artist/xiao-qin/gallery">蕭勤</a>
  <a href="/artist/shiou-ping-liao/gallery">賴修平</a>
  <br>
  展期：2014.5.1-2014.6.15<br>
  <a href="{% static "images/exhibits/20140501edm.jpg" %}">see information</a><br>

  <br><br>

  <a href="/artist/ming-yai-wen/gallery">翁明崖</a>
  <a href="/artist/paco-uong/gallery">翁明哲</a>
  <a href="/artist/mei-chen-tseng/gallery">曾美禎</a>
  <a href="/artist/wu-zhong-cheng/gallery">吳忠成</a>
  <a href="/artist/pin-tong-huang/gallery">黃品彤</a>
  倪瑞洪
  <a href="/artist/yi-shuan-wu/gallery">吳逸萱</a>
  <br>
  展期：2014.4.18-2014.4.28<br>
  <a href="{% static "images/exhibits/20140418edm.jpg" %}">see information</a><br>

  <br><br>

  <a href="/artist/gu-fu-sheng/gallery">顧福生</a><br>
  展期：2014.2.8-2014.3.24<br>
  <a href="{% static "images/exhibits/20140208edm.jpg" %}">see information</a><br>

  <br><br>

<a href="/artist/lin-zhi-zhu/gallery">林之助</a>
鐘有輝
<a href="/artist/chin-hsien-lin/gallery">林欽賢</a>
席德進
王文平
<a href="/artist/ming-yai-wen/gallery">翁明崖</a>
嚴雋泰
<br>
<a href="/artist/tien-yu-hung/gallery">洪天宇</a>
Pascal Cucaro
<a href="/artist/yang-xing-sheng/gallery">楊興生</a>
彭自強
Bernard Charoy
<br>
姚慶章
李民中
<a href="/artist/broustet/gallery">Vincent Broustet</a>
  <br>
  展期：2014.1.10-2014.2.5<br>
  <a href="{% static "images/exhibits/20140110edm.jpg" %}">see information</a><br>

  <br><br>

  <a href="/artist/paco-uong/gallery">翁明哲</a><br>
  展期：2013.12.7-2014.1.6<br>
  <a href="{% static "images/exhibits/20131207edm.jpg" %}">see information</a><br>

  <br><br>

  <a href="/artist/tien-yu-hung/gallery">洪天宇</a><br>
  展期：2013.11.2-2013.12.2<br>
  <a href="{% static "images/exhibits/20131102edm.jpg" %}">see information</a><br>

  <br><br>

  <a href="/artist/liu-yung-jen/gallery">劉永仁</a><br>
  展名：呼吸‧取境<br>
  展期：2013.10.5-2013.10.28<br>
  <a href="{% static "images/exhibits/20131005edm.jpg" %}">see information</a><br>

  <br><br>

  <a href="/artist/ko-wei-kuo/gallery">柯偉國</a><br>
  展名：澹雨寂光<br>
  展期：2013.9.8-2013.9.23<br>
  <a href="{% static "images/exhibits/2013_0908edm.jpg" %}">see information</a><br>

  <br><br>

  <a href="/artist/tien-yu-hung/gallery">洪天宇</a>
  <a href="/artist/chin-hsien-lin/gallery">林欽賢</a>
  <a href="/artist/paco-uong/gallery">翁明哲</a>
  <br>
  展名：不一樣的視窗<br>
  展期：2013.7.29-2013.8.30<br>
  <a href="{% static "images/exhibits/20130729edm.png" %}">see information</a><br>

  <br><br>

  <a href="/artist/mei-chen-tseng/gallery">曾美禎</a><br>
  展名：板畫書<br>
  展期：2013.6.8-2013.7.7<br>
  <a href="{% static "images/exhibits/2013_0608-0707.png" %}">see information</a><br>

  <br><br>

  <a href="/artists">Multiple Artists</a><br>
  展名：城市拼圖<br>
  展期：2013.5.10-2013.5.26<br>
  <a href="{% static "images/exhibits/20130512edm.jpg" %}">see information</a><br>

  <br><br>

  <a href="/artist/wu-i-chien/gallery">吳怡蒨</a><br>
  展名：城市拼圖<br>
  展期：2013.4.14-2013.5.5<br>
  <a href="{% static "images/exhibits/20130414edm.png" %}">see information</a><br>

  <br><br>

  <a href="/artist/leigh-wen/gallery">鄭麗雲</a>
  <a href="/artist/sheau-ming-song/gallery">宋曉明</a>
  洪耀
  <a href="/artist/paco-uong/gallery">翁明哲</a>
  <br>
  展名：夢想的窗口<br>
  展期：2013.3.15-2013.4.12<br>
  <a href="{% static "images/exhibits/20130315edm.png" %}">see information</a><br>

  <br><br>

  <a href="/artist/chin-hsien-lin/gallery">林欽賢</a><br>
  展名：繁華境之<br>
  展期：2013.1.19-2013.2.28<br>
  <a href="{% static "images/exhibits/20130119edm.jpg" %}">see information</a><br>

  <br><br>

  <a href="/artist/broustet/gallery">Vincent Broustet</a><br>
  展名：法式東方情<br>
  展期：2012.12.22-2013.1.21<br>
  <a href="{% static "images/exhibits/20121222edm.png" %}">see information</a><br>

  <br><br>

  <a href="/artist/tien-yu-hung/gallery">洪天宇</a><br>
  展名：金權盛世-熱帶雨林篇<br>
  展期：2012.11.10-2012.12.15<br>
  <a href="{% static "images/exhibits/20121110edm.jpg" %}">see information</a><br>
</div>

</div>
</div>
{% endblock %}
