{% extends 'base.html' %}

{% block content %}
<div class="exhibits">
<div id="page">

<div class="exhibit-current">
	<br><h2>Current Exhibition</h2><br><br>
	<img class="exhibit-invite" style="margin-bottom:10px;" width="800px" src="/static/images/exhibits/20130119edm.jpg"/>
	<br>
	artist: <a href="/artist/chin-hsien-lin/gallery">林欽賢</a>
</div>

<br>
<br>
<br>

<!--
<div class="exhibit-upcoming">
	<br><h2>Upcoming Exhibitions</h2><br><br>
	<img class="exhibit-invite" width="400px" src="/static/images/exhibits/20130113edm.jpg"/>
	<br>
	artist: <a href="/artist/chin-hsien-lin/gallery">林欽賢</a>
</div>

<br>
<br>
<br>
-->

<div class="exhibit-past">

	<br><h2>Past Exhibitions</h2><br><br>
	<a href="/artist/broustet/gallery">Vincent Broustet</a><br>
	展名：法式東方情<br>
	展期：2012.12.22-2013.1.21<br>
	<a href="/static/images/exhibits/20121222edm.png">see information</a><br>

	<br><br>

	<a href="/artist/tien-yu-hung/gallery">洪天宇</a><br>
	展名：金權盛世-熱帶雨林篇<br>
	展期：2012.11.10-2012.12.15<br>
	<a href="/static/images/exhibits/20121110edm.jpg">see information</a><br>
</div>


<!--
  <div class="exhibit-info">
  	<h2 style="font-weight:normal";>{{ dCurrentExhibit.title }}</h2><br>
  	<div>{{ dCurrentExhibit.subtitle }}</div>
  	<div>{{ dCurrentExhibit.dates }}</div><br>
  	<div>{{ dCurrentExhibit.description }}</div><br>
歡迎您蒞臨參觀<br><br>
	  <div class="clearfix"></div>
  </div>
	<a href="/artist/{{ sCurrentArtistId }}">
  <div>
  	<img class="exhibit-image" src="{{ dCurrentExhibit.image }}"/>
 	  <div class="clearfix"></div>
  </div>
	<div>
	{{ dCurrentArtist.full_name }}
	</div>
	</a>
</div>
-->

</div>
</div>
{% endblock %}
