<div id="header" class="header">
  <div class="left-nav pull-left">
    <a href="/" class="vm-LobbyLink">
      <div class="logo"><img src="/static/images/moon12logo2.png"></div>
    </a>
  </div>

  <div class="right-nav pull-right">
  <div class="right-nav-content">
    <div class="link-nav">
      <a href="/">Home</a>
    </div>
    <div class="link-nav">
      <a href="/exhibits">Exhibitions</a>
    </div>
    <div class="link-nav">
      <a href="/artists">Artists</a>
    </div>
    <div class="link-nav">
      <a href="/events">Events</a>
    </div>
    <div class="link-nav">
      <a href="/gallery">Gallery</a>
    </div>
  </div>
  </div>

  <div class="clearfix"></div>
</div>
