{% extends 'base.html' %}

{% block content %}

<div class="home">
<div id="page">
<!--
<div class="exhibit home-section">
  <a href="/exhibits">
  <div class="section-title">Current Exhibition</div>
  </a>
  <br>
-->
<div class="exhibit" style="width:100%;margin-top:30px;">
  <div style="margin:0 auto;width:100%;text-align:center;">
  	  <a href="/exhibits">
	  <img style="width:100%;" src="/static/images/exhibits/20130315edm.png"/>
	  </a>
  </div>
  <!--
  <div class="exhibit-info pull-left">
    <a href="/artist/{{ dCurrentExhibit.artist }}/gallery">{{ dCurrentExhibitArtist.full_name }}</a><br>
    <h2 style="font-weight:normal;">{{ dCurrentExhibit.title }}</h2><br>
    <div>{{ dCurrentExhibit.subtitle }}</div><br>
    <div>{{ dCurrentExhibit.dates }}</div><br>
    <div>{{ dCurrentExhibit.description }}</div>
    <div class="clearfix"></div>
  </div>
  <a href="/exhibits">
  <div class="pull-right">
    <img class="exhibit-image" src="{{ dCurrentExhibit.image }}"/>
     <div class="clearfix"></div>
  </div>
  </a>
  -->
  <div class="clearfix"></div>
</div>
<div class="artists home-section">
  <a href="/artists">
  <div class="section-title">Artists</div>
  </a>
  {% set _firstArtist = true %}
  {% for sArtistId in lsArtists %}
    {% set _context = c %}
    {% do _context.update({
      'dArtist': dArtists.get(sArtistId),
      'sArtistId': sArtistId,
    }) %}
    {% if not _firstArtist %}
    {% endif %}
    {% set _firstArtist = false %}
    {% include 'home_artist_frag.html' %}
  {% endfor %}
  <div class="clearfix"></div>
</div>
<div class="events home-section">
  <a href="/events">
  <div class="section-title">Events</div>
  </a>
  <br>
  {% for sEventId, dEvent in dEvents.iteritems() if dEvent.show == True %}
    {% set _context = c %}
    {% do _context.update({
      'dEvent': dEvent,
      'sEventId': sEventId,
    }) %}
    {% include 'home_event_frag.html' %}
  {% endfor %}
  <div class="clearfix"></div>
</div>
<div class="gallery home-section" style="width:100%;">
  <a href="/gallery">
  <div class="section-title">Gallery</div>
  </a>
  <br>
  <div class="gallery-description pull-left">
  <div class="">
    Contact:<br>
    <br>
    <div>T/886-2-2377-1236</div>
    <div>F/886-2-2377-1226</div>
    <div><a href="mailto:info@moon12art.com">info@moon12art.com</a></div>
    <div>
      <a href="http://www.facebook.com/moon12art"><img class="facebook-icon" src="/static/images/facebook-icon.png"/></a>
      <span><a href="http://www.facebook.com/moon12art">facebook</a></span>
    </div>
  </div>

  <div class="home-about-map">
    <div class="gallery-open">
    Visit:<br>
    <br>
    Open 11:00-19:00<br>
    (7 days a week)<br>
    <br>
    10679台北市大安區<br>
    安和路二段209巷12號1樓<br>
    <br>
    <br>
    </div>
  </div>
  </div>
  <div class="pull-right">
  <a href="/about" style="text-decoration:none;">
    <img style="margin-right:15px;" class="gallery-map" src="/static/images/moon12map.png"/>
    <img class="gallery-image rounded" src="/static/images/gallery.jpg"/>
    <div class="clearfix"></div>
  </a>
  </div>
  <div class="clearfix"></div>
</div>
</div>
</div>
{% endblock %}
